.App {
  min-width: 860px;
  margin: 20px auto;
}
h1 {
  font-size: 30px;
  display: inline-block;
}

button {
  color: #000;
  background-color: rgb(148, 215, 230);
  border: 2px solid #fff;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
}
select {
  color: #000;
  background-color: rgb(148, 215, 230);
  height: 40px;
  width: 200px;
  border: 2px solid #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
}

select option:nth-child(1) {
  background-color: green;
}
select option:nth-child(2) {
  background-color: orange;
}
select option:last-child {
  background-color: red;
}

select:hover,
button:hover {
  background-color: rgb(195, 224, 231);
}

.card-grid {
  width: 70%;
  margin: 0 auto;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.settings {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .card-grid {
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
  }
  h1 {
    font-size: 20px;
  }
  .settings {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    justify-content: center;
  }
  button,
  select {
    margin: 0 auto;
  }
  .help {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .card-grid {
    width: 90%;
    grid-template-columns: 1fr 1fr;
  }
  .help {
    font-size: 12px;
  }
}
