.App {
  min-width: 860px;
  margin: 20px auto;
}
h1 {
  font-size: 30px;
  display: inline-block;
}

button {
  color: white;
  background-color: green;
  border: 2px solid #fff;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
}
select {
  color: white;
  background-color: green;
  height: 40px;
  border: 2px solid #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
}

select option:first-child {
  background-color: green;
}
select option:nth-child(2) {
  background-color: orange;
}
select option:last-child {
  background-color: red;
}

select:hover,
button:hover {
  background-color: darkgreen;
}

.card-grid {
  width: 70%;
  margin: 0 auto;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.settings {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
